.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 25px;
  .product {
    width: 350px;
    height: 240px;
    .productImg {
      width: 100%;
      height: 200px;
      object-fit: cover;
      transition: 0.3s linear;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
        scale: 1.1;
      }
    }
    .product-content {
      margin: 10px 5px 0 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        color: #102a42;
        text-transform: capitalize;
      }
      .price {
        color: #ab7a5f;
        font-size: 18px;
      }
    }
  }
}
